# Dependencias Composer
/vendor/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (si usarás Tailwind con npm)
node_modules/
public/assets/css/style.css

# Archivos temporales
/tmp/
/cache/

# Configs de editores
.vscode/
.idea/